// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $main-bg;
}
body {
color: #555;
  > div {
    background: $sidebar-bg $noise-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg $noise-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}

// Gist formatting
.gist-file {
  font-size:.8em !important;
}

.gist-file table.lines{
  width: 100%;
}
.gist .gist-file .gist-meta a[href*='#file'] {
	right: 0 !important;
}